
@model IEnumerable<NetDexTest_01_MVC.Models.ViewModels.EntryItemDTO>
@{

    ViewData["Title"] = "Entry Item Details";
    await Console.Out.WriteLineAsync("\n\n-----Entry Item Details Reached!----------\n\n");
    var loggedInEmail = ViewData["LoggedInEmail"]?.ToString();
    var lastPerson = ViewData["LastPerson"]?.ToString();
    @* using (IPersonService u = new SomeDisposableType())
    {
        OperateOnType(u);
    } *@
    

}
<div id="emergencyLink">
    <a href="/dex/u/@TempData["tUsername"]/p/@lastPerson/rec/list/ie">&lArr; Back to Entry List view</Details></a>
</div>
@TempData["tEmail"]
<h1> </h1>
@* @TempData["LastPerson"] *@
<hr/>
<hr/>
<hr/>

@section Scripts {
    @{
        // include the partial view
        //
        //  5
        await Html.RenderPartialAsync("_GetEntryItemDetailedView");
    }
    <script src="~/js/entryItemDetails.js" type="module" defer></script>
    <script type="text/javascript">
    </script>
}
