@model NetDexTest_01_MVC.Models.ViewModels.DexHolderMiddleVM
@{
    ViewData["Title"] = "ListDexById";
    await Console.Out.WriteLineAsync("\n\n-----ListDexById Reached!----------\n\n");
}

<h1>ListDexIndex</h1>
@TempData["tEmail"]

@section Scripts {
    @{
        // include the partial view
        //
        //  5
        await Html.RenderPartialAsync("_dexIndexDetails");
        await Html.RenderPartialAsync("_dexIndexListPeople");
    }
    <script src="~/js/_dexIndexListPeople.js" type="module"></script>
    <script src="~/js/_dexIndexDetails.js" type="module"></script>
    <script type="text/javascript">
    </script>
}

