@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using System.Text
@inject IHttpContextAccessor HttpContextAccessor
@inject IUserSessionService _userSessionService


@{
    ViewData["Title"] = "Home Page";
}

<h1>NetDexTest_MVC Homepage</h1>

<h4>Please click on one of the options below</h4>

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
{
    <h4>Logged In</h4>
}
else
{
    <p>Identity failed to load. Not logged in</p>
}




@if (User.Identity.IsAuthenticated || _userSessionService.IsLoggedIn())
{
    @*     <p>Hello @(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email).Value)</p> *@
    <p>Hello @(_userSessionService.GetEmail())</p>
    
    <p>StringRoles: @(await _userSessionService.GetStringRolesAsync())</p>
    {
        var listRoles = await _userSessionService.GetRolesAsync();
@*       
        listRoles.Add("test");
        listRoles.Add("test");
        listRoles.Add("test");
 *@     
        var data = new StringBuilder();

        string outputter = "";
        string delimit = ", ";
        if (listRoles.Count == 1) delimit = "";
@* //        foreach (string roleOut in listRoles)
    //    {
    //        data.Append(outputter);
    //       data.Append(roleout);
//
     //       outputter = $"{outputter}{roleOut}{delimit}";
     //   }
 *@
        for ( int i = 0; i < listRoles.Count; i++)
        {
            //outputter = $"{outputter}{listRoles[i]}";
            data.Append(outputter);
            data.Append(listRoles[i]);

            if (listRoles.Count - 1 > (i))
            {
                //outputter += delimit;
                data.Append(delimit);

            }
        }

        string dataout = data.ToString();
        <p>Roles: @dataout</p>
    }

 

    @if (await _userSessionService.HasAnyRoleAsync("Admin", "Administrator", "Moderator"))  @* (User.IsInRole("Administrator") || User.IsInRole("Moderator")) *@
    {
        <a class="btn btn-primary" asp-controller="user" asp-action="ListUsers">View All Users</a>

    }
    <!--TODO-->
    <a class="btn btn-primary" asp-controller="people" asp-action="ListDexIndex">View Dex</a>
    <a class="btn btn-success" asp-controller="people" asp-action="createPerson">Create New Person</a>

    <a class="btn btn-danger" asp-controller="auth" asp-action="logout">Logout</a>


}

else
{
    <a class="btn btn-primary" asp-controller="auth" asp-action="register">Register</a>
    <a class="btn btn-success" asp-controller="auth" asp-action="login">Login</a>
}