@inject IUserSessionService _userSessionService

@{
    Layout = "_Layout";

    var cookieHeader = Context.Request.Headers["Cookie"];
    //var cookieHeader = Context.Request.BodyReader
    bool isAdmin = false;

    isAdmin = await _userSessionService.HasRoleAsync("Admin");

}

<div id="cookieview" class="d-none">

@if (isAdmin)
{
    <p>Cookies Sent: @cookieHeader</p>
}
else
{
    <p>to view cookies, login as Admin role</p>
}
</div>